MacOS[[:space:]]Icons/8BitDo[[:space:]]Firmware[[:space:]]Updater.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/IDE[[:space:]]Dark.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/ImageOptim.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/MX.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/openttd.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/wizard101.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/MX[[:space:]]Dark.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/steam.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/qgis.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/8BitDo[[:space:]]Ultimate[[:space:]]Software.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/artwork filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/obsidian.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/silk_song.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/IDE.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/Prg[[:space:]]Dark.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/Prg.icns filter=lfs diff=lfs merge=lfs -text
MacOS[[:space:]]Icons/sigil.icns filter=lfs diff=lfs merge=lfs -text
