.vim/plugged/
.DS_STORE
.vim/backup/
*.un~
.env
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.env
lazy-lock.json
zed/prompts
zed/embeddings
zed/conversations
zed/keymap_backup.json
zed/settings_backup.json